{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block main %}
    <div class="bg4">
        <section class="section">
            <hr>
            <h2>About</h2>
            <p style="font-family: Helvetica;">I would like to place here every webpage and YouTube creator who helps me create this project and understand the basics.</p>
            <hr>
            <div class="about-card">
                <p>Firstly W3schools.com - with all informations about CSS and HTML <a class="button-link-a" href="https://www.w3schools.com/">Link</a></p>
                <p>Web Dev Simplified - Learning about Touch Events, Sticky Position (I finally didn't use), Responsive Navbar and Intersection Observer <a class="button-link-a" href="https://www.youtube.com/@WebDevSimplified">Link</a> </p>
                <p>Kevin Powell - Learining about Responsive Navbar, Card-Hover animation <a class="button-link-a" href="https://www.youtube.com/@KevinPowell">Link</a> </p>
                <p>Beyond Fireship - Learing about on scroll animation with Intersection Observer <a class="button-link-a" href="https://www.youtube.com/@beyondfireship">Link</a></p>
                <p>Online Tutorials - Learnining about cards with CSS and HTML <a class="button-link-a" href="https://www.youtube.com/@OnlineTutorialsYT">Link</a> </p>
                <p>CS50 Staff - I used functions from pset9 like login_required() or appology()</p>
            </div>
        </section>
    </div>
{% endblock %}