{% extends "layout.html" %}

{% block title %}
Big 6
{% endblock %}

{% block main %}

    <div class="bg2">
        <section class="hidden title-section" style="transition: all 2s;">
            <div>
                <h1>Six Most Recognizable Silver Bullion Coins </h1>
                <p class="big6-p" style="color: #c8bcac;">Scroll down <br>
                     Hover Card on PC <br>
                      or Click on mobile</p>
            </div>
            <div>
                <br>
            </div>
        </section>
    </div>

    <section class="section-big6">

        <div id="1" class="hidden card">
            <div class="big6-content coin-big6" style="background-image: url(/static/pics/eagle.png);">
                <h1>01</h1>
                <div id="2" class="text-hover">
                    <h2>American Eagle</h2>
                    <p>Produced by the US West Point Mint. It Contains one ounce of .999 fine silver.<br><br>
                    The most expensive silver coin from the big 6, with a mark-up premium of around 65% over silver spot price.<br><br>
                    Recognizable all around the world with decent quality.</p>
                </div>
            </div>
        </div>

        <div id="3" class="hidden card">
            <div class="big6-content coin-big6" style="background-image: url(/static/pics/philharmonic.png);">
                <h1>02</h1>
                <div id="4" class="text-hover">
                    <h2>Austrian Philharmonic</h2>
                    <p>Produced by The Austrian Mint. It Contains one ounce of .999 fine silver.<br><br>
                        Low mark-up premium silver coin from the big 6 with a mark-up premium of around 35% over silver spot price. <br><br>
                        Love by investors, the annual average mintage of over 11 ounces.</p>
                </div>
            </div>
        </div>

        <div id="5" class="hidden card">
            <div class="big6-content coin-big6" style="background-image: url(/static/pics/kruggerand.png);">
                    <h1>03</h1>
                    <div id="6" class="text-hover">
                    <br><h2>Kruggerand</h2>
                        <p>Produced by The South African Mint. It Contains one ounce of .999 fine silver.<br><br>
                        Successor to the oldest private-ownership gold investment coin.<br><br>
                        The mark-up premium is around 45%.</p>
                </div>
            </div>
        </div>

    </section>

    <section class="section-big6">

        <div id="7" class="hidden card">
            <div class="big6-content coin-big6" style="background-image: url(/static/pics/britannia.png);">
                <h1>04</h1>
                <div id="8" class="text-hover">
                    <br><h2>Britannia</h2>
                    <p>Produced by The Royal Mint. It Contains one ounce of .999 fine silver.<br><br>
                        Low mark-up premium silver coin from the big 6 with a mark-up premium of around 35% over silver spot price.<br><br>
                        Silver Britannia since 2021 mintage the world's most visually secure bullion coin.</p>
                </div>
            </div>
        </div>

        <div id="9" class="hidden card">
            <div class="big6-content coin-big6" style="background-image: url(/static/pics/leaf.png);">
                <h1>05</h1>
                <div id="10" class="text-hover">
                    <h2>Canadian Maple Leaf</h2>
                    <p>Produced by The Royal Canadian Mint. It Contains one ounce of .9999 fine silver.<br><br>
                        One of two silver bullion coins made with .9999 fine silver.<br><br>
                        MINTSHIELD system is the world's first solution for reducing white spots on every coin dated 2018 or later.</p>
                </div>
            </div>
        </div>

        <div id="11" class="hidden card">
            <div class="big6-content coin-big6" style="background-image: url(/static/pics/kangaroo.png);">
                <h1>06</h1>
                <div id="12" class="text-hover">
                    <br><h2>Kangaroo</h2>
                    <p>Produced by The Perth Mint. It Contains one ounce of .9999 fine silver.<br><br>
                        The second silver bullion coin was made with .9999 fine silver.<br><br>
                        Frequently Kangaroo is the best quality to price ratio coin on this list. Mark-up premium is around 35%.</p>
                </div>
            </div>
        </div>

    </section>
    <br>
    <p class="center">Scroll down</p>
    <br>
    <section class="section">
        <div>
            <h2>To Sum Up!</h2>
            <p>In my opinion, the safest and most profitable coin from the big 6 is the cheapest one on the market. <br>
                Remember, whenever would you like to sell your silver coins,<br>
                the price you probably get would go around the stock spot price.<br>
                No matter what bullion coin you are selling!</p>
        </div>

        <div>
            <p>Feel free to ask a question in our chat zone,<br> where everyone can exchange their thoughts and experience!</p>
            <a class="button-link" href="forum">Forum</a>
        </div>
    </section>
{% endblock %}