{% extends "layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block main %}

    <div class="bg1">
        <section class="hidden title-section" style="transition: all 2s;">
            <div>
                <h1>Welcome!</h1>
                <h2>Let's Begin With Silver Guide</h2>
                <p style="color: #c8bcac;">Scroll down</p>
            </div>
            <div>
                <br>
            </div>
        </section>
    </div>

    <section class="section-card">

        <div class="card hidden">
            <div class="content">
                <h1>01</h1>
                <h2>To Begin With</h2>
                <h8>Read this guide as a free opinion of a young person, interested in this topic!</h8>
                <h8>Nothing written here should be taken as a must!</h8>
            </div>
        </div>


        <div class="card hidden">
            <div class="content">
                <h1>02</h1>
                <h2>Why Silver?</h2>
                <p style="text-align: left">1. High Demand in Industry<br>
                2. Holds value during inflation<br>
                3, High valued in crisis<br>
                4. Affordable for everyone<br></p>
            </div>
        </div>

        <div class="card hidden">
            <div class="content">
                <h1>03</h1>
                <h2 style="font-size: 2rem">Is it Profitable?</h2>
                <p>It's all about good timing and a long time run. Silver investment should be
                    taken as a simple and solid way to diversify our investment wallet</p>
            </div>
    </section>

    <section class="hidden section">
        <h2>What can you buy for 1$?</h2>
        <p>Paper money has been losing value every year since 1971!</p>
        <div>
            <img src="/static/pics/chart1.png" alt="Chart" class="responsive-chart">
        </div>

        </div>
    </section>

    <section class=" section">
        <div class="hidden">
            <h2>Timing</h2>
            <h6>What's called "good timing" to consider silver shopping?</h6>
            <p>Silver likes quiet and peaceful times. Try to avoid shopping when the stock price skyrockets beacause of a crisis<br>
            Check the Gold/Silver ratio. Here's my guide on when to consider purchasing silver, based on the Gold/Silver ratio chart: </p>
        </div>

        <div class="hidden card">
            <div class="content">
                <h1>04</h1>
                <h2 style="font-size:1.5em">The Gold/Silver Ratio</h2>
               <p>1. When the ratio is over 80 consider buing silver.<br>
                2. When the ratio is between 70-80 also consider buying silver but watch carefully for gold.<br>
                3. When the ratio is between 70-60 silver and gold are in midground in my opinion.<br>
                4. When the ratio is below 60 try to avoid buying silver.<br>
                5. Bonus, when the ratio is below 50 consider flipping your silver for gold.</p>
            </div>
        </div>

        <div class="last hidden" style="height:300px;">
            <div class="content" >
                <h2>But what Should I buy?</h2>
                <p>Check the Big 6 section by pressing the button down below</p>
                <a class="button-link" href="big6">Big 6</a>
            </div>
        </div>
    </section>

{% endblock %}